# Intellij
src/M101J/.idea/
src/M101J/*.iml
src/M101J/*.iws
src/M101JTest/.idea/
src/M101JTest/*.iml
src/M101JTest/*.iws

# Mac
.DS_Store

# Maven
src/M101J/log/
src/M101J/target/
src/M101JTest/log/
src/M101JTest/target/
